* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gilroy-bold', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #141414;
}

section {
    padding: 5rem 0;
}
h6{
    font-size: 18px;
}
span{
    color: #005ae2;
}

#section-title-bar {
    width: 5px;
    height: 2.5rem;
    background: linear-gradient(to bottom, #112232, rgba(77, 107, 136, 0));
    margin-top: 0.5rem;
}

.header-center,
.menu,
.section-center {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: all 0.5s ease-in;
    display: inline-block;
    border: 1px solid #0065fe;
}

.btn-blue {
    background-color: #0065fe;
    color: #fff;
}

.btn-white {
    color: #0065fe;
    background: #fff;
}

nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}

li .active {
    color: #005ae2;
}


@media screen and (min-width: 900px) {

      .header-center,
      .menu,
      .section-center {
             width: 95%;
        }
        .hamburger {
            position: fixed;
            z-index: 100;
            top: 1rem;
            right: 1rem;
            padding: 4px;
            border: black solid 1px;
            background: white;
            cursor: pointer;
        }
    
        .closeIcon {
            display: none;
        }

    
        .showMenu {
            transform: translateY(0);
        }
}

.menu {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-btn {
    margin-left: auto;
}

.sign-in-btn {
    padding: 1rem 2rem;
    border-radius: 100px;
    background-color: #0065fe;
    color: #fff;
}

.tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag img {
    display: block;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .logo-btn {
        display: none;
    }

    .navMenu,
    .right-menu {
        display: flex;
        align-items: center;
        color: #141414;
        gap: 2rem;
    }
}


header {
    padding-top: 3.5rem;
    max-width: 98%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    text-align: center;
}

.first-text {
    text-transform: capitalize;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 3rem;
}

.header .first-text span {
    color: #005ae2;
}

#first-text-ic {
    position: relative;
}

#first-text-ic img {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 815px) {
    .first-text {
        text-transform: capitalize;
        max-width: 1000px;
        margin: 0 auto;
        font-size: 3rem;
    }

    #first-text-ic {
        display: block !important;
        margin-bottom: 1rem;
    }
}

@media (max-width: 745px) {
    .first-text {
        font-size: 2.3rem;
    }

    #first-text-ic {
        display: block !important;
        margin-bottom: 1rem;
    }
}

.header-paragraph {
    max-width: 710px;
    margin: 0 auto;
    font-size: 1.125rem;
}

.header-btns {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.header-btn {
    width: 9rem;
}

.btn-none {
    background: none;
    border: none;
}

.chain img {
    width: 100%;
    max-width: 384px;
}

.chain-cont {
    position: relative;
    background: white;
    z-index: 100;
    width: 100%;
    max-width: 600px;
    margin-block: 3rem;
    margin-block-end: 4rem;
}

.chain {
    padding: 2.5rem 3.75rem;
    background: rgba(254, 254, 254, 0.1);
    border: 0.5px solid #005ae2;
    border-radius: 24px;
    backdrop-filter: blur(106px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(226, 233, 240, 0.7), rgba(220, 228, 235, 0.7), rgba(255, 255, 255, 1));
    z-index: 1000;
}

.chain-background {
    position: absolute;
    top: -1.5rem;
    left: 0.2rem;
    height: 100%;
    z-index: -100;
}

.chain-text {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
}

.oval-background-img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 900px) {
    header {
        padding-top: 6rem;
    }

    .header-title {
        line-height: 1.8;
        font-size: 3rem;
    }
}

.views {
    padding: 3.875rem 0;
    background: #f9fbfd;
}

.views-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.views-title,
.features-title {
    font-size: 2rem;
}

.views-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.view-number {
    font-weight: bold;
    font-size: 2rem;
}


@media screen and (min-width: 900px) {
    .views-center {
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }

    .views-list {
        display: flex;
        justify-content: space-evenly;
        /* gap: 3rem; */
    }
}


.features-title-container {
    display: grid;
    grid-template-columns:auto 1fr;
    gap: 0.5rem;
   
}


.features-title {
    margin-bottom: 20px;
}

.features-title-p {
    font-size: 18px;
}

.features-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-text h2 {
    font-size: 24px;
}

.feature-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 650px) {
    .features-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .feature-text h2 {
        font-size: 28px;
    }

    .views-title,
    .features-title,
    .pricing-title {
        font-size: 32px;
    }

    .features-center {
        flex-direction: row;
        gap: 5%;
    }

    .features-title-container {
        flex-basis: 40%;
    }

    .features-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        flex-basis: 55%;
    }
}

.pricing .section-title-bar {
    display: none;
}

.pricing-title-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.pricing-p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-block-end: 5rem;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.price {
    padding: 15px 40px 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.price.price-active {
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    color: #fff;
}

.price-plan {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.price-type {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.price-lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}

.price-option {
    display: flex;
    align-items: center;
    gap: 5px;
}
.pricing-btns {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
}

@media screen and (min-width: 900px) {
    .price-type {
        font-size: 2.5rem;
    }

    .prices {
        flex-direction: row;
        gap: 0;
        justify-content: center;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .price.price-active {
        scale: 1.2;
        margin-top: -2rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
}

.price {
    padding-bottom: -2rem;
}

.header-bold {
    position: relative;
}

.header-bold-underline {
    display: none;
}

@media screen and (min-width: 600px) {
    .pricing .section-title-bar {
        display: block;
    }

    .pricing-btns {
        flex-direction: row;
        justify-content: center;
    }

    .pricing-btn {
        width: 15rem;
    }
}

@media screen and (min-width: 950px) {
    .header-bold-underline {
        display: inline-block;
        position: absolute;
        bottom: -80%;
        left: 50%;
        transform: translateX(-60%);
    }
}

.form {
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    position: relative;
}

@media screen and (min-width: 1000px) {
    .form {
        background-color: #1e3448;
        background-image: url('./images/form-left.svg'), url('./images/form-right.png');
        background-position: top left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.form-center {
    background: white;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 2rem;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
select {
    outline: none;
    display: block;
    padding: 16px 18px;
    border: 1px solid #0065fe;
    border-radius: 12px;
    width: 100%;
    color: #3284ff;
}

select {
    background: none;
}

input::placeholder,
option {
    color: #3284ff;
    font-size: 12px;
}

.domain-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.domain-input img {
    display: block;
}

.form-btn {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-text {
    margin-top: 1rem;
    color: #3284ff;
    font-size: 0.6;
}

.domain-flex {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 16px 18px;
    border: 1px solid #0065fe;
    border-radius: 12px;
    width: 50%;
}

@media screen and (min-width: 1000px) {
    .questions {
        background-image: url('./images/faqleft.png'), url('./images/faq-right.png');
        background-position: top left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.question-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.question {
    padding: 0.7rem;
    border-bottom: 1px dotted #d6d6d6;
    cursor: pointer;
}

.question-title {
    font-size: 2.5rem;
}

.question-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 792px;
    z-index: 10;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    gap: 10px;
}

.question-header-title {
    font-size: 1.1rem;
}

.question-btn {
    background: none;
    border: none;
}

.minus {
    display: none;
}

.question-body {
    display: none;
}

.active .minus {
    display: block;
}

.active .plus {
    display: none;
}

.active .question-body {
    display: block;
    font-size: 0.8rem;
}

@media screen and (min-width: 950px) {
    .question-header-title {
        font-size: 1.25rem;
    }

    .active .question-body {
        font-size: 1rem;
    }
}

.optimize {
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    position: relative;
    overflow-y: hidden;
}

.optimize h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

.optimize-btn {
    text-align: center;
}

.optimize-btn .btn {
    width: 12rem;
    font-size: 1rem;
}

@media screen and (min-width: 1000px) {
    .optimize {
        background-color: #1e3448;
        background-image: url('./images/optimizeleft.png'), url('./images/optimize-right.png');
        background-position: top left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

footer {
    padding-block: 5.5rem;
    padding-block-end: 2.5rem;
}

@media screen and (min-width: 1000px) {
    .footer {
        background-image: url('./images/footer-left.png'), url('./images/footerright.png');
        background-position: bottom left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.footer-center {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer img {
    display: block;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 650px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 800px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer-second-line {
        grid-column: 2/3;
    }
}

.footer-lower-section {
    margin-top: 4rem;
    text-align: right;
    font-size: 14px;
}


.footer a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
